@import "tailwindcss";

@theme {
  --color-marca-rojo: #be000a;
  --color-marca-azul: #00327d;
  --color-marca-blanco: #ffffff;

  --font-sans: "Arial", "Helvetica", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
